{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Vos Annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Localisation</th>
                <th>utilisateurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.photo }}</td>
                <td>{{ annonce.localisation }}</td>
                {% if annonce.getUser() is not null %}
                <td>{{ annonce.getUser().email }}</td>
                {% else %}
                <td>Utilisateur supprimé</td>
                {% endif %}s
                <td>
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_annonces_new') }}">Create new</a>
    {% endif %}
{% endblock %}
